<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="TrScheduleList" routerLinkActive="active">Training Schedule List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkActive="active">Add New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/some-link" routerLinkActive="active">Link</a>
      </li>
    </ul>
  </div>
</nav>
